body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ff7e5f;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #eb6e51;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #33466b;
    margin: 50px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: none;
    border: none;
    color: #ff7e5f;
    cursor: pointer;
}

li button:hover {
    color: #eb6e51;
}
